<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="3"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-share-alt"></span>
					<h3>Connect</h3>
					<ul class="icons" style="margin-top: 1em;">
						{% for social in site.socials %}
							<li>
								<a href="{{ social[1] }}" class="icon alt fa-{{ social[0] | downcase }}" target="_blank" rel="noopener noreferrer">
									<span class="label">{{ social[0] }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; {{ site.title }}</li>
			<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</footer>
